@font-face {
    font-family: 'Videophreak';
    src: url('Videophreak/videophreak-webfont.woff2') format('woff2'),
         url('Videophreak/videophreak-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}