#pauseMenu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.4);
    z-index: 99;
}

.level-menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

#resume, #exit {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #FFFFFF;
}

#resume > h1 , #exit > h1 {
    text-align: center;
    font-family: Videophreak, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    -webkit-text-fill-color: transparent;
}

#resume {top: 40%}

#exit {top: 60%}

.game-canvas {position: absolute; left: 0; top: 0; height: 100%;}
